@media(max-width:1024px){
  header{
    height: 45px;
  }
  .modal{
    left: 26%;
  }
}
@media(max-width:736px){
  header{
    height: 30px;
  }
  .header-name{
    padding-top: 5px;
    font-size: 10px;
  }
  .header-right{
    font-size: 10px;
  }
  .header-right .header-login{
    line-height: 30px;
  }
  .top-wrapper{
    height: 700px;
  }
  .container h1{
    font-size: 25px;
  }
  .top-wrapper p{
    font-size: 10px;
  }
  .caption{
    font-size: 20px;
    padding-top: 50px;
  }
  .contents-item{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .modal{
    left:23%;
    width: 250px;
  }
  #signup-form input{
    width: 90%;
  }
  #submit-btn{
    padding:10px 20px;
    margin: 10px 10px;
  }
  .message-contents h2{
    font-size: 21px;
  }
}
